<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6O5h7RrtlBHq9EXPWRNmKmxe4K-tIhY0</string>
	<key>GCM_SENDER_ID</key>
	<string>415269224872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galaxy18.app.lottery</string>
	<key>PROJECT_ID</key>
	<string>imposing-carver-398410</string>
	<key>STORAGE_BUCKET</key>
	<string>imposing-carver-398410.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415269224872:ios:cf983b4267f300c2689d9d</string>
</dict>
</plist>